<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- <bean id="actor1" class="com.stackroute.domain.Actor">
        <property name="name" value="Prabhas"></property>
        <property name="gender" value="Male"></property>
        <property name="age" value="40"></property>
    </bean>-->

    <bean id="actor1" class="com.stackroute.spring_demo.Actor">
        <constructor-arg name="name" index="0" value="Prabhas" type="String"></constructor-arg>
        <constructor-arg name="gender" index="1" value="Male" type="String"></constructor-arg>
        <constructor-arg name="age" index="2" value="40" type="int"></constructor-arg>
    </bean>


    <bean id="actor2" class="com.stackroute.spring_demo.Actor">
        <constructor-arg name="name" index="0" value="Prabhas" type="String"></constructor-arg>
        <constructor-arg name="gender" index="1" value="Male" type="String"></constructor-arg>
        <constructor-arg name="age" index="2" value="40" type="int"></constructor-arg>
    </bean>


    <bean id="actor3" class="com.stackroute.spring_demo.Actor">
        <constructor-arg name="name" index="0" value="Kajal" type="String"></constructor-arg>
        <constructor-arg name="gender" index="1" value="Female" type="String"></constructor-arg>
        <constructor-arg name="age" index="2" value="35" type="int"></constructor-arg>
    </bean>


    <bean id="movie1" class="com.stackroute.spring_demo.Movie">
        <property name="actor" ref ="actor1"/>

    </bean>

    <bean id="movie2" class="com.stackroute.spring_demo.Movie">

        <property name="actor" ref ="actor2"/>

    </bean>


    <bean id="movie3" class="com.stackroute.spring_demo.Movie" scope="prototype">
        <property name="actor" ref="actor3"/>
    </bean>
    <!-- <bean id="movie" class="com.stackroute.domain.Movie">
        <property name="actor" ref="actor1"></property>
    </bean> -->

</beans>